:root {
  margin: 0;
  padding: 0;

  font-size: 62.5%;
}
.hide {
  display: none;
}

body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);

  color: #34355b;
  box-sizing: border-box;
  font-size: 1.6rem;
  display: grid;

  place-items: center;
  height: 100vh;
}

main {
  background: #fff;
  border-radius: 0.5rem;
  width: 428px;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

}

.screen1 h1 {
  padding-top: 8.4rem 4.8rem 1.4rem 8.4rem;
  margin: 0 8.4rem 0 8.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

.screen1 p {
  color: #464777;

  font-size: 1.5rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.cookie {
  max-width: 100%;
  margin: 0 8.4rem 0 8.4rem;
  animation-name: treme;

  position: relative;
  left: 0;
  animation: 4s linear infinite;
}

.cookie:hover {
  animation-play-state: initial;
}

.screen2 {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.text {
  background: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  text-align: center;
  animation: move .5s;
  
}


.footer {
  width: 17.4rem;
  height: 5.2rem;
  padding: 4.8rem 12.7rem 4.8rem 12.7rem;
  
}

.screen2 p {
  animation-delay: 5s;
}
@keyframes move {
  from {
    transform: translateY(100%);
  }
}
